
:root {
    --main-bg-color: #003460;
    --primary-color: #0C2448;
    --sub-text-color: #65789C;
    --text-color:#FFFFFF;
    --light-input-color: #466686;
    --pop-background-color: linear-gradient(122.33deg, #E2CCD5 2.37%, #AEC1D7 90.29%);
    --pop-background-radius: 30px;
    --pop-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    --bubble-color-reply: #0B2446;
    --bubble-color-send: #244C9B;
    --track-light: #244C9B;
    --track-light-hover: #466686;
}
svg {
    color: white
}

::-webkit-scrollbar {
    
    width: 6px; 
  }
   
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
    
  ::-webkit-scrollbar-thumb {
    background: var(--track-light); 
    border-radius: 3px;

  }
   
  ::-webkit-scrollbar-thumb:hover {
    background: var(--track-light-hover); 
  }

  html {
    width: 100%;
    position: fixed;
    overflow: hidden;
    height: 100%;
  }
  .layout-content{
    -webkit-overflow-scrolling: touch;

  }
  .layout-container {
    background-color: var(--main-bg-color);
}