.layout-container .layout-left .petro-logo img {
    width: 100%;
}

.layout-container .layout-left .petro-logo {
    padding: 40px;
}

.menu-container .menu-title {
    color: white;
    padding: 0px 20px;
    text-decoration: underline;
}

.history-chat-list {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.history-item-container {
    border-radius: 6px;
    padding: 4px;
    border:  2px solid white;
    color: white;
 
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
}

.history-item-container:hover {
    color: aquamarine;
    border-color: aquamarine;
}
.history-item-container:hover svg {
    color: aquamarine;
}
.history-item-container label {
 
    flex: 1;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    marin-right: 40px;

}
.history-item-container > div {
    width: 24px;
}


.left-content-wraper {
    display: flex;
    flex-direction: column;
    flex: 1
}

.left-content-footer {
    padding-bottom: 40px;
}

.history-item-container .d-spinner {
    padding-bottom: 4px;
}