
.box-login-container {
    width: 240px;
    min-height: 100px;
    position: absolute;
    left: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(20% + 140px);
    transform: translateX(-50%);
}


.box-login {
    background: var(--pop-background-color);
    border-radius: var(--pop-background-radius);
    width: 100%; 
    position: relative;
    box-shadow: var(--pop-box-shadow);
    padding: 40px;
    padding-top: 70px;
}

.button-login-container{
    background: var(--pop-background-color); 
    border-radius: 0 0 20px 20px;
    width: 90%;
    padding: 12px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.button-login-container:hover {
    color: aquamarine;
}

.box-login-effect{
    background: #278BE8;
    opacity: 0.6;
    filter: blur(16px);
    width: 140px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 10px;
}



.input-container {
    height: 40px;
    width: 100%;
    background: var(--sub-text-color);
    margin-top: 14px;
    display: flex;
    gap: 10px;
    border-radius: 2px;
    overflow: hidden;
}

.input-container .input-icon {
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
}
.input-container input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
}

::placeholder { 
    color: #98ADC6;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: #98ADC6;
  }
  
  ::-ms-input-placeholder {
    color: #98ADC6;
  }

.box-login-avatar-container {
    width: 100px;
    height: 100px;
    background-color: var(--main-bg-color);
    position: absolute;
    z-index: 1;
    top: -50px;
    border-radius: 50px;
    border: 1px solid #20235A;
    overflow: hidden;
    display: flex;
}
.box-login-avatar-container img {
    width: 80%;
   margin: auto;
   align-items: center;
}

.box-bottom-action {
    margin-top: 30px;
    display: flex;
    
}
.flex {
    flex: 1;
}

.logo {
    width: 160px;
    position: absolute;
    top: -230px;
}
.logo img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--subtext-color);
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 18px;
    cursor: pointer; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
   
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
   
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--main-bg-color);
  }
   
  .checkbox-container:hover input ~ .checkmark {
    background-color: var(--primary-color);
  }
   
  .checkbox-container input:checked ~ .checkmark {
    background-color: var(--primary-color);
  }
   
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
   
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
   
  .checkbox-container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  @media only screen and (max-width: 280px) {
 
    .box-login-container {
        width: 100%;
        left: 0px;
        transform: initial;
    }
    .button-login-container{
        border-radius: 0;
        width: 100%;
        padding: 0px; 
        padding-top: 14px;
        padding-bottom: 14px;

    }

    .box-login-container .box-login {
        width: 100%;
        border-radius: 0px;
        padding: 0px;
        padding-top: 80px;
        padding-bottom: 20px
    }

    .box-login-container .input-container {
        margin: 20px;
        width: initial;
    }
    .box-bottom-action { 
        margin: 20px;
    }
  }

  @media only screen and (max-height: 420px) {
    .logo {
        width: 140px;
        position: absolute;
        top: -200px;
        
    }
  }

  .box-login .account {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .box-login .account .account-name {
    font-weight: 600;
    color: #000000;
  }

  .box-login .account .account-email {
    font-weight: 600;
    font-size: 12px;
  }

  .box-login {
    max-height: 400px;
    overflow-y: auto;
  }